<% layout('index') -%>
<h1>Address Book</h1>
<div class="container">
  <div class="row">
    <button id='newAddy' type="button" name="button">New Address</button>
    <br>
    <br>
    <hr>
  </div>

  <div class="row">

  </div>

</div>
