<% layout('index') -%>
<h1>Address Book</h1>
<div class="container">
  <div class="row">
    <br>
    <a class="btn btn-primary btn-lg active" href="contacts/new">New Address</a>
    <br>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Name</h3>
      <p>Address 1</p>
      <p>Address 2</p>
      <a href="#">DELETE</a>
      <hr>
    </div>
  </div><!-- row end  -->
  <div class="row">
    <div class="col-md-6">
      <h3>Name</h3>
      <p>Address 1</p>
      <p>Address 2</p>
      <a href="#">DELETE</a>
      <hr>
    </div>
  </div><!-- row end  -->
</div>
